

body {
  background-color: #3d0000; /* lighter red */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

form {
  background: #4b0000;
  padding: 15px 25px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 250px;
  outline: none;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
#homeBtn {
  display: inline-block;
  background-color: #870606;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  transition: all 0.2s ease;
}

#homeBtn:hover {
  background-color: #ff6666;
  transform: scale(1.05);
}