
body {
  background: linear-gradient(to bottom, rgb(139, 5, 5), rgb(110, 3, 3));
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: antiquewhite;
}
/* صندوق تسجيل الدخول */
form {
  background-color: rgba(112, 6, 6, 0.9);
  border: 1px solid #be0a0a;
  border-radius: 12px;
  padding: 40px 35px;
  width: 30%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* العنوان */
form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

/* الحقول */
label {
  display: block;
  margin-top: 12px;
  color: #333;
  font-weight: 500;
}

input[type="text"] {
  width: 35%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 15px;
}

/* زر الدخول */
button {
  width: 39%;
  padding: 10px;
  margin-top: 20px;
  background-color: #c7d3f1;
  border: none;
  border-radius: 300px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #6969ae;
  transition:all;
}

.error{
    color: #000000;
    display: none;
}

.gallary img{
    width: 250px;
    object-fit: cover;
    margin: 50px;
}

.gallary{
    flex-wrap: wrap;
    display:flex
}
#homeBtn {
  display: inline-block;
  background-color: #a50404;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  transition: all 0.2s ease;
  align-items: start;
}
#homeBtn:hover {
  background-color: #ff6666;
  transform: scale(1.05);
}
